.main
{
    height: 150px;
    width: 150px;
    background-color: royalblue;
    margin: 50px;
    padding: 10px;
    box-shadow: 30px 20px 30px red;
}

.one
{
    height: 100px;
    width: 100px;
    background-color: crimson;
    border-radius: 50%;
    margin: 50px;
    padding: 50px;

}